<ion-card>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button default-href="#"></ion-back-button>
			<ion-button>
				<ion-icon slot="icon-only"
					name="save-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-card class="cardtitle">
			<ion-item>
				<ion-label position="stacked">Title</ion-label>
				<ion-input [(ngModel)]="tournament!.title"
					id="title"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Creator</ion-label>
				<ion-input [ngModel]="tournament!.creator"
					readonly
					id="title"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Icon</ion-label>
				<ion-input [(ngModel)]="tournament!.icon"
					id="icon"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Description</ion-label>
				<ion-textarea [(ngModel)]="tournament!.description"
					id="description"></ion-textarea>
			</ion-item>
		</ion-card>
	</ion-toolbar>
</ion-card>

<ion-card *ngFor="let entry of tournament!.entries">aa</ion-card>

<ion-card>
	<ion-icon [name]="'add'"></ion-icon>
</ion-card>
