<app-header title="Welcome into the Lobby"></app-header>

<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row>

			<ion-col>
				<ion-card class="cardContainer">
					<ion-card-header>
						<ion-card-title>Your lobby code :</ion-card-title>
						<ion-input [value]="lobbyCode"
							aria-label="Code"
							labelPlacement="stacked"
							fill="outline"
							style="text-transform: uppercase;"
							readonly></ion-input>
						<ion-icon (click)="copyToClipboard()"
							size="large"
							class="lobbyCodeItem"
							name="clipboard"></ion-icon>
						<ion-card-title>Set your name !</ion-card-title>
						<ion-input [(ngModel)]="username"
							label="You are :"
							fill="outline"
							label-placement="floating">
						</ion-input>
						<ion-button (click)="sendName()"
							class="okBtn">
							OK
						</ion-button>
					</ion-card-header>
					<ion-card-content>
						<app-players-card></app-players-card>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col>
				<ion-card class="cardContainer">
					<ion-card-header>
						<ion-card-title>Theme</ion-card-title>
					</ion-card-header>
					<ion-card-content class="cardListCentered">
						<ion-card *ngIf="tournamentPicked"
							class="basicCard"
							color="secondary">
							<ion-card-header>
								<ion-card-title>
									{{tournamentPicked.title}}
								</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-text>
									{{tournamentPicked.description}}
								</ion-text>
								<ion-item>
									<ion-img [src]="tournamentPicked.icon"></ion-img>
								</ion-item>
							</ion-card-content>
						</ion-card>
						<ion-button [disabled]="!isOwner"
							(click)="launch()"
							size="large"
							fill="outline"
							expand="block">
							Launch
						</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col>
				<ion-card class="cardContainer">
					<ion-card-header>
						<ion-searchbar (ionInput)="onSearchInput($event)"
							(ionChange)="onSearchInput($event)"
							class="ion-no-padding"></ion-searchbar>
					</ion-card-header>
					<ion-card-content class="scrollBlock cardListGrid">
						<ion-card *ngFor="let t of tournamentList"
							[disabled]="!isOwner"
							(click)="pickTournament(t)"
							class="basicCard">
							<ion-card-header>
								<ion-card-title>{{t.title}}</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-text>{{t.description}}</ion-text>
								<ion-item>
									<ion-img [src]="t.icon"></ion-img>
								</ion-item>
							</ion-card-content>
						</ion-card>
					</ion-card-content>
				</ion-card>
			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>
