<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Welcome into the Lobby
		</ion-title>
		<ion-buttons slot="end">
			<app-user></app-user>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card>
		<ion-card-header>
			<ion-card-title>theme</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-list>
				<!-- ion-item *ngFor="let player of players">{{player}}</ion-item -->
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
