<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-img [routerLink]="['/Home']"
			class="logoImg"
			slot="start"
			src="assets\icon\favicon.png"></ion-img>
		<ion-title class="ion-text-center main-title">{{title}}</ion-title>

		<ion-buttons slot="end">
			<span *ngIf="user">
				{{ user!.username }}
			</span>
			<ion-button (click)="presentPopover($event)">
				<ion-icon [color]="user?'success':''"
					slot="icon-only"
					name="person">
				</ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
