<app-header [title]="tournamentPicked.title"></app-header>


<ion-content [fullscreen]="true">
	<ion-grid class="cardGrid" *ngIf="!ended">
		<ion-row>
			<ion-col>
				<ion-card>
					<ion-card-header>
						<ion-card-title>
							<ion-button [disabled]="hasVotedLeft !== null"
								[color]=" hasVotedLeft === true?'success':''"
								(click)="vote(true)"
								size="large"
								expand="block">
								{{entryLeft.name}}
							</ion-button>
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-img *ngIf="!isYoutubeVideo(entryLeft.link)" [src]="entryLeft.link"></ion-img>
						<iframe *ngIf="isYoutubeVideo(entryLeft.link)" [src]="embedYoutubeVideo(entryLeft.link)" width="600" height="400"></iframe>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col size="3"
				size-md="2">
				<app-players-card></app-players-card>
				<ion-card *ngIf="isOwner">
					<ion-button (click)="skip()"
						expand="block"
						fill="outline">
						End votes
					</ion-button>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card>
					<ion-card-header>
						<ion-card-title>
							<ion-button [disabled]="hasVotedLeft !== null"
								[color]="hasVotedLeft === false?'success':''"
								(click)="vote(false)"
								size="large"
								expand="block">
								{{entryRight.name}}
							</ion-button>
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-img *ngIf="!isYoutubeVideo(entryRight.link)" [src]="entryRight.link"></ion-img>
						<iframe *ngIf="isYoutubeVideo(entryRight.link)" [src]="embedYoutubeVideo(entryRight.link)" width="600" height="400"></iframe>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<canvas id="myCanvas" [width]="canvasWidth" [height]="canvasHeight"></canvas>
</ion-content>





<ion-modal #resultModal>
	<ng-template>
		<ion-content>
			<ion-toolbar color="primary">
				<ion-title>{{messageResult}}</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="closeModal()">Close</ion-button>
				</ion-buttons>
			</ion-toolbar>
			<img *ngIf="!isYoutubeVideo(imageResult || '')" [src]="imageResult">
			<iframe *ngIf="isYoutubeVideo(imageResult || '')" [src]="embedYoutubeVideo(imageResult || '')" width="600" height="500"></iframe>
		</ion-content>
	</ng-template>
</ion-modal>
