@import '/src/theme/components.scss';

hr {
  margin-top: 4px;
  border-top: 1px double #777777;
  width: 40%;
}
.cardGrid{
  padding: 0;
  ion-col{
    padding: 0;
  }
  ion-card{
    text-align: center;
  }
  ion-card-header{
    padding: auto;
  }
}

ion-modal {
  --max-height: 70%;
  --max-width: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 0;
}
