<ion-card>
	<ion-card-header *ngIf="!isUserLogged()">
		You need to be logged to build new content.
	</ion-card-header>
	<ion-card-header *ngIf="isUserLogged()">
		Let's go create so new content !
	</ion-card-header>
	<ion-button [routerLink]="['/editor']"
		[disabled]="!isUserLogged()"
		fill="outline"
		shape="round"
		color="primary">
		Build a new game
	</ion-button>
</ion-card>


<ion-grid *ngIf="!isUserLogged()">
	<ion-row>
		<ion-col>
			<ion-card>
				<ion-card-header>
					<ion-card-title>Login</ion-card-title>
					<ion-card-subtitle>
						Already have an account ?
					</ion-card-subtitle>
				</ion-card-header>
				<ion-card-content>
					<form [formGroup]="loginForm"
						(ngSubmit)="loginForm.valid && login(loginForm.controls['unemail'].value, loginForm.controls['password'].value)"
						novalidate>
						<ion-item>
							<ion-input label="Username/E-mail"
								labelPlacement="floating"
								formControlName="unemail"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="Password"
								labelPlacement="floating"
								type="password"
								formControlName="password"></ion-input>
						</ion-item>
						<ion-button [disabled]="!loginForm.valid"
							expand="block"
							type="submit">
							Login
						</ion-button>
					</form>
					<ion-item class="recoveryText">
						<ion-label id="click-trigger">
							Forgot your password ?
						</ion-label>
					</ion-item>
					<ion-modal #recoveryModal
						trigger="click-trigger"
						triggerAction="click">
						<ng-template>
							<ion-card>
								<ion-header>
									<ion-toolbar>
										<ion-title>Reset password</ion-title>
										<ion-buttons slot="end">
											<ion-button (click)="recoveryModal.dismiss()">Close</ion-button>
										</ion-buttons>
									</ion-toolbar>
								</ion-header>
								<form [formGroup]="passwordRecoveryForm"
									(ngSubmit)="passwordRecovery(passwordRecoveryForm.controls['email'].value)">
									<ion-item>
										<ion-input label="E-mail"
											labelPlacement="floating"
											formControlName="email"></ion-input>
									</ion-item>
									<ion-button [disabled]="!passwordRecoveryForm.valid"
										expand="block"
										type="submit">
										Reset my password
									</ion-button>
								</form>
							</ion-card>
						</ng-template>
					</ion-modal>
				</ion-card-content>
			</ion-card>
		</ion-col>





		<ion-col>
			<ion-card>
				<ion-card-header>
					<ion-card-title>Register</ion-card-title>
					<ion-card-subtitle>
						Create a new account ?
					</ion-card-subtitle>
				</ion-card-header>
				<ion-card-content>
					<form [formGroup]="registerForm"
						(ngSubmit)="register(registerForm.controls['username'].value, registerForm.controls['email'].value, registerForm.controls['password'].value)">
						<ion-item>
							<ion-input label="Username"
								labelPlacement="floating"
								formControlName="username"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="E-mail"
								labelPlacement="floating"
								formControlName="email"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="Password"
								labelPlacement="floating"
								formControlName="password"></ion-input>
						</ion-item>
						<ion-label *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
							color="danger">
							Min length 8
						</ion-label>
						<ion-button [disabled]="!registerForm.valid"
							expand="block"
							type="submit">
							Register
						</ion-button>
					</form>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>





</ion-grid>
