<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Open a tournament to edit
		</ion-title>
	</ion-toolbar>
</ion-header>



<ion-content fullscreen="true">
	<ion-grid>
		<ion-row>



			<ion-col size="2">
				<ion-card (click)="newTournament()"
					class="cardplus">
					<ion-card-content>
						<ion-title size="large">New</ion-title>
						<ion-icon [name]="'add'"></ion-icon>
					</ion-card-content>
				</ion-card>
			</ion-col>



			<ion-col size="2">
				<ion-card (click)="newSharedTournament()"
					class="cardplus">
					<ion-card-content>
						<ion-title size="large">Shared</ion-title>
						<ion-icon [name]="'share-social'"></ion-icon>
					</ion-card-content>
				</ion-card>
			</ion-col>



			<ion-col *ngIf="localDescriptor"
				size="3">
				<ion-card (click)="loadLocalTournament()"
					class="scenariocard"
					color="secondary">
					<ion-title size="small"
						color="tertiary">
						Stored locally
					</ion-title>
					<ion-title size="large">
						{{localDescriptor.title}}
					</ion-title>
					<ion-card-content>
						<ion-text color="primary">
							{{localDescriptor.creator}}
						</ion-text>
						<ion-img [src]="localDescriptor.icon"></ion-img>



						<ion-text>
							{{localDescriptor.description}}
						</ion-text>



					</ion-card-content>
				</ion-card>
			</ion-col>



			<ion-col *ngFor="let sd of ownedDescriptors"
				size="3">
				<ion-card (click)="loadTournament(sd)"
					(contextmenu)="contextOwn($event,sd)"
					class="scenariocard">
					<ion-toolbar>
						<ion-buttons slot="primary">
							<ion-button (click)="contextOwn($event,sd)">
								<ion-icon slot="icon-only"
									ios="ellipsis-horizontal"
									md="ellipsis-vertical"></ion-icon>
							</ion-button>
						</ion-buttons>



						<ion-title size="large">{{sd.name}}</ion-title>
					</ion-toolbar>



					<ion-buttons slot="end">
						<ion-button>
							<ion-icon slot="icon-only"
								ios="ellipsis-horizontal"
								md="ellipsis-vertical"></ion-icon>
						</ion-button>
					</ion-buttons>
					<ion-card-content>
						<ion-text color="primary">{{sd.creator}}</ion-text>
						<ion-img [src]="sd.icon"></ion-img>
						<ion-text>{{sd.description}}</ion-text>
					</ion-card-content>



				</ion-card>
			</ion-col>



		</ion-row>



	</ion-grid>
</ion-content>
