<app-header title="Pick a tournament"></app-header>
<ion-content fullscreen="true">
	<div class="cardList">
		<!-- Cartes plus -->
		<ion-card (click)="newTournament()"
			class="cardplus">
			<ion-card-header>
				<ion-card-title size="large">New</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<ion-icon [name]="'add'"></ion-icon>
			</ion-card-content>
		</ion-card>
		<ion-card (click)="newSharedTournament()"
			class="cardplus">
			<ion-card-header>
				<ion-card-title size="large">Shared</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<ion-icon [name]="'share-social'"></ion-icon>
			</ion-card-content>
		</ion-card>
		<!-- Cartes locals -->
		<ion-card *ngIf="localDescriptor"
			(click)="loadLocalTournament()"
			class="basicCard localCard"
			color="secondary">
			<ion-card-header>
				<ion-text>Stored locally</ion-text>
				<ion-card-title>
					{{localDescriptor.title}}
				</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<ion-text>
					{{localDescriptor.description}}
				</ion-text>
				<ion-item>
					<ion-img [src]="localDescriptor.icon"></ion-img>
				</ion-item>
			</ion-card-content>
		</ion-card>
		<ion-card *ngIf="sharedDescriptor"
			(click)="loadSharedTournament()"
			class="basicCard localCard"
			color="warning">
			<ion-card-header>
				<ion-text>Recently imported</ion-text>
				<ion-card-title>
					{{sharedDescriptor.title}}
				</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<ion-text>
					{{sharedDescriptor.description}}
				</ion-text>
				<ion-item>
					<ion-img [src]="sharedDescriptor.icon"></ion-img>
				</ion-item>
			</ion-card-content>
		</ion-card>
		<!-- Cartes -->
		<ion-card *ngFor="let d of ownedDescriptors"
			(click)="loadTournament(d)"
			(contextmenu)="contextOwn($event,d)"
			class="basicCard">
			<ion-card-header>
				<ion-card-title size="large">{{d.title}}</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<ion-text>{{d.description}}</ion-text>
				<ion-item>
					<ion-img [src]="d.icon"></ion-img>
				</ion-item>
			</ion-card-content>
			<ion-button (click)="contextOwn($event,d)"
				size="small"
				class="menuCardBtn">
				<ion-icon slot="icon-only"
					ios="ellipsis-horizontal"
					md="ellipsis-vertical"></ion-icon>
			</ion-button>
		</ion-card>
	</div>
</ion-content>
<input type="file"
	id="fileInput"
	style="display: none;"
	accept=".json">
