<app-header title="Multiplayer Tournament Online"></app-header>
<ion-content>
	<div class="container">
		<p>
			Welcome into Multiplayer Tournament Online ! Join other players to play together !
		</p>
	</div>
	<ion-accordion-group value="Lobby">
		<ion-accordion value="Lobby">
			<ion-item slot="header"
				color="light">
				<ion-label>
					Create or Join a game !
				</ion-label>
			</ion-item>
			<div class="ion-padding"
				slot="content">
				<app-create-lobby></app-create-lobby>
			</div>
		</ion-accordion>
		<ion-accordion value="third">
			<ion-item slot="header"
				color="light">
				<ion-label>
					Create new content !
				</ion-label>
			</ion-item>
			<div class="ion-padding"
				slot="content">
				<app-create-custom></app-create-custom>
			</div>
		</ion-accordion>
	</ion-accordion-group>
</ion-content>
